.loading-container-maain{
    width: 100vw;
    background-color: black;
    height: 100vh;
}

.loader-maain {
    width: 32px;
    height: 32px;
    border: 4px solid #ccc;
    border-top-color: #003322;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }