.search-page-searchtab {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  
  .search-bar-searchtab {
    display: flex;
    align-items: center;
    background: none;
    padding-top: 6px;
    background-color: #000000;
    padding-bottom: 15px;
    position: fixed;
    bottom: 48px;
    width: 100vw;
    border-top: 0.1px solid rgb(46, 46, 46);
  }

  .icon-bars-topbar-searchtab{
    width: 100vw;
  }

  .bars-icon-searchtab{
    width: 10vw;
    padding: 10px 0px;
    background-color: #f10404;
    margin-right: 0vw;
  }

  .chat-icon-searchtab{
    padding: 8px 10px;
    color: #3b82f6;
    background-color: #000000;
    border-bottom: 0.1px solid rgb(39, 39, 39);
  }
  
  .search-input-searchtab {
    flex: 1;
    padding: 8px 16px;
    margin-left: 6px;
    margin-right: 6px;
    border: none;
    border-radius: 8px;
    background-color: #272727;
    font-size: 16px;
    outline: none;
    z-index: 1000;
  }
  
  .search-cancel-searchtab {
    margin-left: 0px;
    background: none;
    border: none;
    color: #3b82f6;
    font-size: 16px;
  }

  .search-icon-searchtab {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }
  
  .search-results-searchtab {
    list-style: none;
    padding: 0px 4px;
    margin: 0px;
  }
  
  .search-result-item-searchtab {
    display: flex;
    align-items: center;
    padding: 10px 14px ;
    margin-left: -6px;
    border-bottom: 0.5px solid #222222;
  }
  
  .avatar-searchtab {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    object-fit: cover;
    background-color: #ccc;
    margin-right: 12px;
  }
  
  .user-details-searchtab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .username-searchtab {
    font-weight: 600;
    font-size: 14px;
  }
  
  .bio-searchtab {
    color: #888;
    font-size: 12px;
  }
  
  .close-btn-searchtab {
    background: none;
    border: none;
    font-size: 20px;
    color: #999;
    padding: 0 5px;
    cursor: pointer;
  }

  .clear-button-searchtab {
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5a5a5;
    z-index: 1001;
  }

  .text-searchbar-blbl-container{
    position: fixed;
    background-color: #3b82f6;
    display: flex;
    padding-top: 2px;
    z-index: 1001;
  }

  .text-searchbar-blbl{
    color: rgb(61, 61, 247);
    background-color: #0f0f0f;
    padding: 6px 0px;
    font-size: 13px;
    z-index: 101;
  }
  
  